.cover__overlay {
  width: 320px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 1s linear;
}
.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
@media screen and (min-width: 768px) {
  .cover__overlay {
    min-width: 768px;
    min-height: 746px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-width: 1184px;
    min-height: 740px;
  }
}
